<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.winsontan520.testwscratchview"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.winsontan520.testwscratchview.Demos"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.winsontan520.testwscratchview.DefaultXML"
            android:label="Default (XML)" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.winsontan520.testwscratchview.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.winsontan520.testwscratchview.DefaultCodes"
            android:label="Default (Codes)" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.winsontan520.testwscratchview.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.winsontan520.testwscratchview.ImageOverlayDrawable"
            android:label="Image Overlay Drawable (Experimental)" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.winsontan520.testwscratchview.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.winsontan520.testwscratchview.ImageOverlayBitmap"
            android:label="Image Overlay Bitmap (Experimental)" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.winsontan520.testwscratchview.SAMPLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.winsontan520.testwscratchview.ImageOverlayXML"
            android:label="Image Overlay XML (Experimental)" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.winsontan520.testwscratchview.SAMPLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>